@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #101010; */
}
body {
  background-color: #101010;
}
nav {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 0.1rem solid #445;
}
nav h1 {
  font-size: 2rem;
  font-family: "Belanosima", sans-serif;
  color: #007bff;
}
nav .form {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  /* width: 20rem; */
}
nav .form input {
  padding: 0.7rem;
  outline: none;
  border: none;
}
nav .form button {
  border: none;
  padding: 0.7rem;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-section {
  margin: 4rem 0 2rem 0;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card .mainImg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}
.images {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  overflow-x: scroll;
  margin: 0.2rem 0;
}
a {
  text-decoration: none;
}
.images::-webkit-scrollbar {
  display: none;
}
.images img {
  height: 5rem;
  width: auto;
  margin-right: 0.1rem;
  border-radius: 0.5rem;
}
.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: "Belanosima", sans-serif;
  color: #fff;
}

.card-paragraph {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px;
  }
}
@media (max-width: 500px) {
  nav {
    padding: 1rem 0.5rem;
  }
  input {
    width: 9rem;
  }
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  /* background-color: red; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 0 3rem;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  font-family: "Belanosima", sans-serif;
}
#cardgrid h5{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-size: 1.5rem;
    color: #445;
    font-family: "Belanosima", sans-serif;
}
.pagination a:hover {
  background-color: #f0f0f0;
  color: #000;
}

.pagination .current {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

